@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Unbounded:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.h-scroll {
  height: 800vh;
  position: relative;
}

.h-scroll__sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.h-scroll__content {
  display: flex;
  height: 100%;
  width: max-content;
}

.desk {
  display: block;
}

.mob {
  display: none;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

.block-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.block-list .block-list__item {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}

.h1-heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 135%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
}

.white-btn {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #131313;
  padding: 15px 26px;
  display: block;
  border-radius: 5px;
  background: #fff;
  width: fit-content;
}

.video-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 970px;
  height: 100%;
}
.video-block img,
.video-block video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-block video {
  display: none;
}
.video-block img {
  display: block;
}
.video-block.disable img {
  display: none;
}
.video-block.disable video {
  display: block;
}

.regular-btn {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  width: fit-content;
  display: block;
}
.regular-btn.green {
  color: #d6e129;
}
.regular-btn.blue {
  color: #0429ff;
}

.description {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}
.description span {
  font-style: italic;
  font-weight: 300;
  line-height: 130%;
}

.block {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: black;
}
.block .container {
  padding-top: 254px;
  width: fit-content;
  margin: 0 60px;
}
.block:first-child .block-list__item:last-child {
  color: #d6e129;
}
.block:first-child .white-btn {
  margin-top: 131px;
}
.block.center-content .container {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.block.gallery-block {
  background: #f7f7f7;
}
.block.gallery-block .container {
  width: 100%;
  max-width: calc(100% - 120px);
  align-items: center;
  display: flex;
  flex-direction: column;
}
.block.gallery-block .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block.gallery-block .block-list__item,
.block.gallery-block .block-list,
.block.gallery-block .regular-btn {
  width: 540px;
}
.block.gallery-block .h1-heading,
.block.gallery-block .block-list__item {
  color: #131313;
  width: fit-content;
}
.block.gallery-block .gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
  margin-top: 131px;
}
.block.gallery-block .gallery * {
  width: 100%;
}
.block.full-width-background .background * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block .regular-btn {
  margin-top: 24px;
}
.block .description {
  margin-bottom: 24px;
}
.block .h1-heading {
  margin-bottom: 48px;
}
.block .top {
  width: 100%;
  position: absolute;
  top: 40px;
}
.block .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.block .container {
  position: relative;
  z-index: 2;
}

.img-section img {
  max-width: 100%;
}

footer {
  background: #131313;
  padding-top: 40px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .footer-section {
  display: flex;
  flex-direction: column;
  gap: 163px;
}
footer .footer-section:first-child {
  gap: 158px;
  flex-direction: row;
}
footer .footer-section:first-child .footer-list:first-child .footer-list__item:last-child {
  color: #d6e129;
}
footer .footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-list__item {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}
footer .footer-tg {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #d6e129;
  margin-top: 211px;
}
footer .footer-bg {
  width: 100%;
  margin-top: 60px;
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
  isolation: isolate;
  background: transparent;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
header .logo {
  height: 22px;
}
header .text {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #0c0c0c;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 32px;
  letter-spacing: -0.08em;
}
header .text span {
  font-family: "Inter Tight", sans-serif;
  font-size: 40px;
  letter-spacing: -0.04em;
}
header .header-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 65px;
}
header .header-menu span {
  width: 100%;
  height: 5px;
  background: #737373;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #131313;
  z-index: 11;
  padding: 140px 130px 0;
  transform: translateX(100%);
  transition: all 0.4s ease;
}
.menu.active {
  transform: translateX(0);
}
.menu .menu-close {
  position: absolute;
  top: 20px;
  right: 30px;
  justify-content: flex-end;
}
.menu .menu-close svg {
  width: 75px;
  height: 75px;
}
.menu .logo {
  height: 20px;
  position: relative;
}
.menu .logo img {
  height: 100%;
}
.menu .item {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu ul:nth-child(3) li a {
  color: #d6e129;
}
.menu li a {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: white;
}
.menu .telegram-btn {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #131313;
  border-radius: 5px;
  padding: 15px 25px;
  background: #d6e129;
  width: fit-content;
  margin-top: 40px;
}

.bread-crumbs {
  margin-top: 40px;
}
.bread-crumbs .container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.bread-crumbs p {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #909090;
}

.deal-text.team-top {
  margin-top: 40px;
}
.deal-text.team-top .heading .text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #131313;
  margin-bottom: 32px;
}
.deal-text.team-top .heading .text:last-child {
  margin-bottom: 0;
}
.deal-text.reverce .container {
  flex-flow: row-reverse;
}
.deal-text.reverce .info {
  padding-left: 40px;
}
.deal-text .container {
  display: flex;
  gap: 0;
  align-items: center;
}
.deal-text .info,
.deal-text .deal-text__img {
  width: 50%;
}
.deal-text .info {
  margin-top: 32px;
}
.deal-text .h1-heading {
  color: #131313;
  margin-bottom: 24px;
}
.deal-text .heading {
  margin-bottom: 48px;
  max-width: 773px;
}
.deal-text .heading .text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #131313;
}
.deal-text .wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.deal-text .item .item__heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}
.deal-text .item .item__heading__text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #131313;
}
.deal-text .item .item__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.deal-text .item .item__list__item {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #131313;
}

.another-deal {
  padding: 130px 0;
}
.another-deal .h1-heading {
  color: #131313;
  margin-bottom: 60px;
}
.another-deal .wrapper {
  display: flex;
  flex-direction: column;
}
.another-deal .item {
  display: grid;
  align-items: center;
  grid-template-columns: 810px 567px 234px;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #131313;
}
.another-deal .item-name {
  display: flex;
  align-items: center;
  gap: 16px;
}
.another-deal .item-name img {
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.another-deal .item-name .text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #131313;
}
.another-deal .item-description .text,
.another-deal .item-link .text {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #131313;
}

.link-block {
  position: relative;
  padding-top: 24px;
}
.link-block a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-block .text {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 135%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.link-block .bg {
  width: 100%;
}

.blog-heading .h1-heading {
  color: #131313;
  margin-bottom: 60px;
}
.blog-heading .wrapper {
  display: flex;
  gap: 16px 24px;
  flex-wrap: wrap;
}
.blog-heading .item {
  border-radius: 10px;
  padding: 10px;
  background: #f7f7f7;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #131313;
}

.blog-section {
  padding-bottom: 50px;
}
.blog-section .container {
  padding: 0 470px;
}
.blog-section img {
  max-width: 100%;
}
.blog-section h3 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #131313;
  margin-bottom: 16px;
}
.blog-section p {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #131313;
  margin-bottom: 16px;
}
.blog-section img + p {
  margin-top: 24px;
}
.blog-section p + img {
  margin-top: 8px;
}
.blog-section img {
  margin-top: 24px;
}

@media (max-width: 1240px) {
  body,
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  .desk {
    display: none;
  }
  .mob {
    display: block;
  }
  .container {
    margin: 0 24px;
    max-width: calc(100% - 48px);
  }
  .h-scroll {
    height: auto;
  }
  .h-scroll__sticky {
    position: relative;
    height: auto;
  }
  .h-scroll__content {
    display: block;
    height: auto;
  }
  .h1-heading {
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
  br {
    display: none;
  }
  .block-list {
    gap: 9px;
  }
  .block-list .block-list__item {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #f7f7f7;
  }
  .block {
    height: auto;
  }
  .block .description {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #131313;
  }
  .block .mob-img {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
  }
  .block .mob-img img {
    width: 100%;
  }
  .block.mob-white {
    background: #f7f7f7;
  }
  .block.mob-white .h1-heading,
  .block.mob-white .block-list__item,
  .block.mob-white .description {
    color: #131313;
  }
  .block.mob-white .regular-btn {
    color: #0429ff;
  }
  .block.mob-black {
    background: #131313;
  }
  .block.mob-black .h1-heading,
  .block.mob-black .block-list__item,
  .block.mob-black .description {
    color: #f7f7f7;
  }
  .block.mob-black .regular-btn {
    color: #9eff00;
  }
  .block .container {
    margin: 0 25px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .block .top {
    position: relative;
    display: none;
    top: 0;
  }
  .block .top img {
    width: 101px;
  }
  .block .h1-heading {
    margin-bottom: 24px;
  }
  .block:first-child .h1-heading {
    margin-bottom: 32px;
  }
  .block:first-child .block-list__item:last-child {
    color: #f7f7f7;
  }
  .block:first-child .top {
    display: block;
    margin-top: 50px;
    margin-bottom: 41px;
  }
  .block:first-child .background {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
  }
  .block.center-content .container {
    height: auto;
  }
  .block.gallery-block .container {
    margin: 0 25px;
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 100%;
    width: auto;
    align-items: flex-start;
  }
  .block.gallery-block .gallery {
    display: none;
  }
  .block.gallery-block .info {
    align-items: flex-start;
  }
  .block.gallery-block .block-list,
  .block.gallery-block .block-list__item,
  .block.gallery-block .regular-btn {
    width: fit-content;
  }
  footer {
    padding-bottom: 247px;
    margin-top: 0;
  }
  footer .footer-section,
  footer .container {
    flex-direction: column !important;
    gap: 43px !important;
  }
  footer .footer-list__item {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #f7f7f7;
  }
  footer .footer-tg {
    margin-top: 0;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #9eff00;
  }
  footer .footer-bg {
    display: none;
  }
  footer .footer-section:first-child .footer-list:first-child .footer-list__item:last-child {
    color: #f7f7f7;
  }
  header .container {
    width: auto;
  }
  header .logo {
    height: 14px;
  }
  header .header-menu {
    width: 43px;
    gap: 7px;
  }
  header .header-menu span {
    height: 3px;
  }
  .menu {
    height: 100vh;
    overflow-y: scroll;
    padding: 50px 30px 30px;
  }
  .menu ul {
    gap: 24px;
  }
  .menu .logo {
    height: 14px;
  }
  .menu .menu-close svg {
    width: 45px;
    height: 45px;
  }
  .deal-text.reverce .info {
    padding: 0;
  }
  .deal-text .container {
    flex-direction: column;
    flex-flow: column !important;
    gap: 32px;
    margin-bottom: 32px;
  }
  .deal-text .info {
    margin: 0;
  }
  .deal-text .info,
  .deal-text .deal-text__img {
    width: 100%;
  }
  .deal-text .heading {
    margin-bottom: 24px;
  }
  .deal-text .heading .text {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #131313;
  }
  .deal-text .heading .h1-heading {
    margin-bottom: 16px;
  }
  .deal-text .item .item__heading {
    margin-bottom: 16px;
  }
  .deal-text .item .item__heading img {
    width: 18px;
    height: 18px;
  }
  .deal-text .item .item__heading__text {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #131313;
  }
  .deal-text .item .item__list {
    gap: 12px;
  }
  .deal-text .item .item__list__item {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #131313;
  }
  .another-deal {
    padding: 0;
  }
  .another-deal.mob-black {
    padding: 56px 0;
    background: #131313;
  }
  .another-deal.mob-black .h1-heading {
    color: white;
    margin-bottom: 40px;
  }
  .another-deal.mob-black .item-description .text,
  .another-deal.mob-black .item-name .text,
  .another-deal.mob-black .item-link .text {
    color: white;
  }
  .another-deal.mob-black .item-name img {
    width: 50px;
    height: 50px;
  }
  .another-deal.mob-black .item-link .text {
    color: #9eff00;
  }
  .another-deal .wrapper {
    gap: 32px;
  }
  .another-deal .h1-heading {
    margin-bottom: 40px;
  }
  .another-deal .item {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .another-deal .item-name {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  .another-deal .item-name .text {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #131313;
  }
  .another-deal .item-name img {
    width: 100%;
    height: auto;
  }
  .another-deal .item-description {
    margin-bottom: 16px;
  }
  .another-deal .item-description .text,
  .another-deal .item-link .text {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #131313;
  }
  .img-wrapper {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
  }
  .img-wrapper img {
    flex-shrink: 0;
    width: 300px;
    height: auto;
  }
  .link-block {
    margin: 0;
    padding: 0;
  }
  .link-block .container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .link-block .text {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
  }
  .img-section {
    margin-bottom: 24px;
  }
  .blog-heading {
    margin-bottom: 40px;
  }
  .blog-heading .item {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 10px;
    color: #1a1f26;
  }
  .blog-section {
    padding-top: 56px;
  }
  .blog-section h3 {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #131313;
  }
  .blog-section p {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #131313;
  }
  .blog-section .container {
    padding: 0;
  }
  .bread-crumbs {
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
